
.outer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.heading{
    font-weight: bold;
}

.button{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 20px;
    text-align: center;
    text-align: center;
    text-decoration: none;
    /* display: inline-block; */
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.color-box{
    width: 600px;
    height: 400px;
    margin: 10px;
    /* display: inline-block; */
    border: 1px solid #000;
}